{#
 # This file is part of Redado.
 #
 # Copyright (C) 2013 Guillaume Royer
 #
 # Redado is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Affero General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Redado is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with Redado.  If not, see <http://www.gnu.org/licenses/>.
 #}
{% extends "::base.html.twig" %}

{% block title %}Redado{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="active">
                        <a href="#">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                    </li>
                {% else %}
                    <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                    </a>
                    </li>
                {% endif %}
            </ul>
            <form class="navbar-form pull-right" actimn="#">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="{% trans %}Search{% endtrans %}" />
                </div>
            </form>
        </div>
    </nav>
{% endblock %}
{% block body %}
<div class="container" style="padding-top:70px;">
    <div class="row">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }} alert alert-error">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="well col-md-4" style="float:none;margin:auto;margin-top:20px;">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</div>
{% endblock %}
