{#
 # This file is part of Redado.
 #
 # Copyright (C) 2013 Guillaume Royer
 #
 # Redado is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Affero General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Redado is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with Redado.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "RedadoCoreBundle::layout.html.twig" %}


{% block left_column %}
    <h4>{{ group.name }}
        {% if is_granted('admin', group) %}
        <a href="{{ path('group_settings_general', {'id': group.sysname})}}" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-wrench"></span> {% trans %}Settings{% endtrans %}
        </a>
        {% endif %}
    </h4>
    <span class="muted" id="help_sysname" data-placement="right"
    title="{% trans %}This is the short system name of the group, unique in the application.{% endtrans %}"
    >{{ group.sysname }}</span><br/>
    <script type="text/javascript">$('#help_sysname').tooltip();</script>
    {{ group.description|nl2br }}<br/>
    <strong>{% trans %}Creation date :{% endtrans %}</strong> {{ group.created|localizeddate('full', 'short') }}
    <div class="row">
        <div class="col-md-12">
            {% if group.parents | length %}
               <h5>{% trans %}Parent groups :{% endtrans %}</h5>
                <ul class="list-unstyled">
                    {% for parent in group.parents %}
                        <li>
                        <a href="{{ path('group_show', { 'id' : parent.sysname } ) }}">{{ parent.name }}</a><span class="muted"> ({{ parent.sysname}})</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block left_content %}
	<table class="table table-hover">
        <thead>
			<tr>
				<th>
                {% trans %}Members{% endtrans %}
                </th>
			</tr>
		</thead>
		<tbody>
		{% for membership in group.memberships %}
			<tr>
				<td>
					<a href="{{ path('user_show', { id : membership.user.id }) }}">{{ membership.user.name }}</a>
                </td>
			</tr>
        {% else %}
            <tr>
                <td>
                    {% trans %}
                        There is not any visible member in this group.
                    {% endtrans %}
                </td>
            </tr>
		{% endfor %}
        {% if is_granted('admin', group) %}
        <tr>
            <td>
                <a href="{{ path('group_add_user', { 'id' : group.sysname }) }}" class="btn btn-default btn-sm">
                    {% trans %}Add{% endtrans %} <span class="glyphicon glyphicon-plus"></span>
                <a>
                <a href="{{ path('group_settings_users', {'id': group.sysname}) }}" class="btn btn-default btn-sm">
                    {% trans %}Manage{% endtrans %}
                </a>
            </td>
        </tr>
        {% endif %}
		</tbody>
	</table>
{% endblock %}

{% block right_content %}
<div class="row">
    {% if group.children | length > 0 %}
    <div class="col-md-12">
    <table class="table">
    <thead><tr><th>
            {% trans %}Sub-groups :{% endtrans %}
    </th></tr></thead>
    <tbody><tr><td>
        <ul class="list-unstyled">
            {% for child in group.children %}
            {% set rand = random() %}
                <li>
                    <span class="pull-left"{% if child.children | length > 0 %} data-toggle="collapse" style="cursor:pointer;width:15px;"{% endif %} id="achild{{ child.id }}{{ rand }}" data-target="#child{{ child.id }}{{ rand }}">
                        <span class="glyphicon glyphicon-chevron-right"{% if child.children | length == 0 %} style="color:white;cursor: default;"{% endif %}></span>
                    </span>
                    <a href="{{ path('group_show', { 'id' : child.sysname })}}">{{ child.name }}</a>
                    <span class="muted">({{ child.sysname }})</span>
                    <ul id="child{{ child.id }}{{ rand }}" class="collapse list-unstyled" style="padding-left:15px;">
                    <br/>
                    </ul>
                    <script type="text/javascript">
                        $("#child{{ child.id }}{{ rand }}").on('show.bs.collapse', function () {
                            if( !$("#child{{ child.id }}{{ rand }}").hasClass('loaded') ) {
                                $.ajax({
                                    url: "{{ path('ajax_get_group_children', {'id': child.id }) }}",
                                    type: "get",
                                    dataType: "html",
                                    success: function(data) {
                                        $("#child{{ child.id }}{{ rand }}").html(data);
                                        $("#child{{ child.id }}{{ rand }}").addClass('loaded');
                                    }
                                });
                            }
                        });
                        $("#child{{ child.id }}{{ rand }}").on('shown.bs.collapse', function () {
                            $("#achild{{ child.id }}{{ rand }}").html('<span class="glyphicon glyphicon-chevron-down"></span>');
                        });
                        $("#child{{ child.id }}{{ rand }}").on('hidden.bs.collapse', function () {
                            $("#achild{{ child.id }}{{ rand }}").html('<span class="glyphicon glyphicon-chevron-right"></span>');
                        });
                    </script>
                </li>
            {% else %}
            {% endfor %}
        </ul>
        </td></tr>
        <tr><td>
        {% if is_granted('admin', group) %}
        <a href="{{ path('group_new', {'parent_id' : group.sysname }) }}" class="btn btn-default btn-sm">
            {% trans %}Add{% endtrans %} <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a href="{{ path('group_settings_structure', {'id': group.sysname}) }}" class="btn btn-default btn-sm">
             {% trans %}Manage{% endtrans %}
        </a>
        {% endif %}
        </td></tr></tbody></table>
    </div>
    {% endif %}
</div>
<div class="row" style="margin-top:5px;">
    <div class="alert alert-info">
        <b>Help</b>
    </div>
</div>
{% endblock %}


{% block toolbar %}
	{% if is_granted('edit_users', group) %}
          <a href="{{ path('group_adduser', { 'id': group.sysname }) }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus icon-white"></span>
            {% trans %}Add user{% endtrans %}
          </a>
	{% endif %}
    {% if is_granted('admin', group) %}
        <a href="{{ path('group_editpermission', { 'id': group.sysname }) }}" class="btn btn-default">
            {% trans %}Admin rights{% endtrans %}
        </a>
    {% endif %}
{% endblock %}
