{#
 # This file is part of Redado.
 #
 # Copyright (C) 2013 Guillaume Royer
 #
 # Redado is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Affero General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Redado is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with Redado.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "RedadoCoreBundle::layout.html.twig" %}

{% block left_column %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('group_settings_general', {'id' : group.id}) }}">General</a></li>
        <li class="active"><a href="#">Permissions</a></li>
        <li><a href="{{ path('group_settings_structure', { 'id' : group.id }) }}">Links with other groups</a></li>
        <li><a href="#">Extensions</a></li>
    </ul>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('group_show', {'id': group.id}) }}">{{ group.name}} ({{group.sysname}})</a> <span class="divider">/</span></li>
        <li><a href="{{ path('group_settings_general', {'id': group.id}) }}">{% trans %}Settings{% endtrans %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans %}Permissions{% endtrans %}</li>
    </ul>
{{ form_start(form, {'attr' :{'class' : 'form-horizontal'}} ) }}
{% for module, permissions in module_permissions %}
    <h4>{{ module }}</h4>
    {% for permission in permissions %}
    <h4>{{ permission['description'] }}</h4>
        {{ form_errors(attribute(form, permission['name'])) }}
        {{ form_errors(attribute(form, permission['name'] ~ '_self')) }}
        <label class="checkbox" for="{{ permission['name'] ~ '_self' }}">
            Members of this group
        {{ form_widget(attribute(form, permission['name'] ~ '_self')) }}
        </label>
        <label for="{{ permission['name'] }}">
            Members of other groups :
        </label>
        {{ form_widget(attribute(form, permission['name'])) }}
    {% endfor %}
{% endfor %}
{{ form_end(form)}}
{% endblock %}
