{#
 # This file is part of Redado.
 #
 # Copyright (C) 2013 Guillaume Royer
 #
 # Redado is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Affero General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Redado is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with Redado.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "RedadoCoreBundle::layout.html.twig" %}


{% block left_column %}
  <div style="width:100%; height:150px; text-align:center; text-valign: center; border: 1px solid #CCCCCC;">
    profile picture
  </div>
  <h4>{{ user.name }}</h4><br/>
  <strong>{% trans %}Email :{% endtrans %}</strong> {{ user.email }}<br/>
{% endblock %}

{% block left_content %}
	<table class="table table-hover table-bordered">
        <thead>
			<tr>
				<th>{% trans %}Groups{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
		{% for membership in user.memberships %}
			<tr>
				<td>
					<a href="{{ path('group_show', { 'id' : membership.group.sysname }) }}">{{ membership.group.name }}</a> <span class="muted">({{ membership.group.sysname }})</span>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

{%block right_content %}
{% if admined_groups is not empty %}
<table class="table table-bordered">
    <thead>
        <tr><th>{% trans %}Administrated groups{% endtrans %}</th></tr>
    </thead>
    <tbody>
    {% for group in admined_groups %}
        <tr><td><a href="{{ path('group_show', { 'id' : group.sysname }) }}">{{ group.name}}</a> <span class="muted">({{ group.sysname }})</span></td></tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<div class="row-fluid">
    <div class="alert alert-info">
    <b>Help</b>
    </div>
</div>
{% endblock %}

{% block toolbar %}
{% endblock %}
